.*.swp
*.deb
save
bin
uploads.d
expected.jobs
hashtable.d
hhmm.sched
kiwiclient
noise_plot
running.jobs
signal_levels
suntimes
wsprdaemon.log
wsprdaemon.pid
wsprdaemon.conf
wsprdaemon.status
proxy.pid
