.*.swp
*.deb
save
uploads.d
expected.jobs
hashtable.d
hhmm.sched
kiwiclient
noise_plot
running.jobs
signal_levels
suntimes
wsprdaemon.log
wsprdaemon.pid
wsprdaemon.conf
wsprdaemon.status
proxy.pid
noise_plot.log
watchdog_daemon.log
watchdog_daemon.pid
wav-archive.d
suntimes.txt

after_make.txt
before_make.txt
*.log
wav-archive/
uploads/
ft8_lib/
bin/frpc
bin/frpc.ini
bin/frpc_wd.ini
find.stderr
ftlib-pskreporter/
ka9q-radio/
ka9q-web/
ka9q-web1/
onion/
*.pid

